@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 400px;
  height: 500px;
  overflow-x: hidden;
}

/* styles for scrollbar */
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 100%; /* Rounded corners */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a4a4a #f1f1f1;
}

/* For Edge and IE */
html {
  scrollbar-width: thin;
  scrollbar-color: #4a4a4a #f1f1f1;
}
